<button type="button" class="btn {ifset $button}btn-{$button}{/ifset} btn-success" data-toggle="modal" data-target="#AddNewUserModal{$uniqid}" title="Add new user">
	<span class="glyphicon glyphicon-plus"></span>
	{if isset($description) && $description == true} Add new user{/if}
</button>
