<button type="button" data-signal-url="{$deleteLink}" class="btn btn-danger btn-xs deleteAuthorButton deleteAuthorButton{$uniqid}" data-toggle="modal" data-target="#DeleteAuthorModal{$uniqid}" title="Delete author">
	<span class="glyphicon glyphicon-remove"></span>
</button>
<button type="button" data-signal-url="{$editLink}" class="btn btn-primary btn-xs editAuthorButton editAuthorButton{$uniqid}" data-toggle="modal" data-target="#EditAuthorModal{$uniqid}" title="Edit author">
	<span class="glyphicon glyphicon-pencil"></span>
</button>
<button type="button" data-signal-url="{$showRelatedPublicationsLink}" class="btn btn-default btn-xs showPublicationsRelatedToAuthorButton showPublicationsRelatedToAuthorButton{$uniqid}" data-toggle="modal" data-target="#PublicationsRelatedToAuthorModal{$uniqid}" title="Associated Publications">
	<span class="glyphicon glyphicon-link"></span>
</button>