<button data-signal-url="{$addLink}"  type="button" class="btn btn-success addJournalButton addJournalButton{$uniqid}" data-toggle="modal" data-target="#JournalModal{$uniqid}" title="Add new journal">
	<span class="glyphicon glyphicon-plus"></span>
</button>
