<button type="button" data-signal-url="{$deleteLink}" class="btn btn-danger btn-xs deleteJournalButton deleteJournalButton{$uniqid}" data-toggle="modal" data-target="#DeleteJournalModal{$uniqid}" title="Delete journal">
	<span class="glyphicon glyphicon-remove"></span>
</button>
<button type="button" data-signal-url="{$editLink}" class="btn btn-primary btn-xs editJournalButton editJournalButton{$uniqid}" data-toggle="modal" data-target="#EditJournalModal{$uniqid}" title="Edit journal">
	<span class="glyphicon glyphicon-pencil"></span>
</button>
<button type="button" data-signal-url="{$showRelatedPublicationsLink}" class="btn btn-default btn-xs showPublicationsRelatedToJournalButton showPublicationsRelatedToJournalButton{$uniqid}" data-toggle="modal" data-target="#PublicationsRelatedToJournalModal{$uniqid}" title="Associated Publications">
	<span class="glyphicon glyphicon-link"></span>
</button>