{ifset $addAllowed}
	<button type="button" data-signal-url="{$addLink}" class="btn btn-success addTagButton addTagButton{$uniqid}" data-toggle="modal" data-target="#TagModal{$uniqid}" title="Add new tag">
		<span class="glyphicon glyphicon-plus"></span>
	</button>
{/ifset}
