{extends $baseTemplateFilename}
{block extraControls}
	<button type="button" data-signal-url="{$showRelatedConferencesLink}" class="btn btn-default btn-xs showConferencesRelatedToCategoryButton showConferencesRelatedToCategoryButton{$uniqid}" data-toggle="modal" data-target="#ConferencesRelatedToCategoryModal{$uniqid}" title="Associated Conferences">
    	<span class="glyphicon glyphicon-link"></span>
    </button>
{/block}