<a href="{$url}" n:class="$ajaxRequest ? ajax, $sort == asc ? sorting_asc, $sort == desc ? sorting_desc, $sort == '' ? sorting">{$title}{if $sort == 'desc'} &#9660;{/if}{if $sort == 'asc'} &#9650;{/if}</a>