{ifset $deleteAllowed}
	<button type="button" data-signal-url="{$deleteLink}" class="btn btn-danger btn-xs deleteAnnotationButton deleteButton{$uniqid}" data-toggle="modal" data-target="#DeleteModal{$uniqid}" title="Delete annotation">
		<span class="glyphicon glyphicon-remove"></span>
	</button>
{/ifset}
{ifset $editAllowed}
	<button type="button" data-signal-url="{$editLink}" class="btn btn-primary btn-xs editAnnotationButton editButton{$uniqid}" data-toggle="modal" data-target="#EditModal{$uniqid}" title="Edit annotation">
		<span class="glyphicon glyphicon-pencil"></span>
	</button>
{/ifset}