<button type="button" id="addPublisherButton{$uniqid|noescape}" class="btn btn-success" data-toggle="modal" data-target="#AddNewPublisherModal{$uniqid}" title="Add new Publisher">
	<span class="glyphicon glyphicon-plus"></span>
</button>