<button type="button" data-signal-url="{$deleteLink}" class="btn btn-danger btn-xs deletePublisherButton deletePublisherButton{$uniqid}" data-toggle="modal" data-target="#DeletePublisherModal{$uniqid}" title="Delete Publisher">
	<span class="glyphicon glyphicon-remove"></span>
</button>
<button type="button" data-signal-url="{$editLink}" class="btn btn-primary btn-xs editPublisherButton editPublisherButton{$uniqid}" data-toggle="modal" data-target="#EditPublisherModal{$uniqid}" title="Edit Publisher">
	<span class="glyphicon glyphicon-pencil"></span>
</button>
<button type="button" data-signal-url="{$showPublisherRelatedLink}" class="btn btn-default btn-xs relatedPublisherButton relatedPublisherButton{$uniqid}" data-toggle="modal" data-target="#PublisherRelatedModal{$uniqid}" title="Associated Publications and Years of Conference">
	<span class="glyphicon glyphicon-link"></span>
</button>