<div class="form-group">
<h2 class="col-sm-3 control-label"><small>APA</small></h2>
<div class="col-sm-9">
    <p class="form-control-static">
    {$pubCit['author']}{if $pubCit['year']} ({$pubCit['year']}){/if}. {$pubCit['title']}{if $pubCit['publisher']}. {$pubCit['publisher']}{/if}{if $pubCit['volume']}, <em>{$pubCit['volume']}</em>{/if}{if $pubCit['pages']}, {$pubCit['pages']}{/if}.

    </p>
</div>
</div>
