    {$pubCit['author']}{if $pubCit['year']} ({$pubCit['year']}){/if}. {$pubCit['title']}{if $pubCit['publisher']}. {$pubCit['publisher']}{/if}{if $pubCit['volume']}, <em>{$pubCit['volume']}</em>{/if}{if $pubCit['pages']}, {$pubCit['pages']}{/if}.
