<button type="button" data-signal-url="{$deleteLink}" class="btn btn-danger btn-xs deleteAttributeButton deleteAttributeButton{$uniqid}" data-toggle="modal" data-target="#DeleteAttributeModal{$uniqid}" title="Delete attribue">
	<span class="glyphicon glyphicon-remove"></span>
</button>
<button type="button" data-signal-url="{$editLink}" class="btn btn-primary btn-xs editAttributeButton editAttributeButton{$uniqid}" data-toggle="modal" data-target="#EditAttributeModal{$uniqid}" title="Edit attribute">
	<span class="glyphicon glyphicon-pencil"></span>
</button>
<button type="button" data-signal-url="{$showRelatedPublicationsLink}" class="btn btn-default btn-xs showPublicationsRelatedToAttributeButton showPublicationsRelatedToAttributeButton{$uniqid}" data-toggle="modal" data-target="#PublicationsRelatedToAttributeModal{$uniqid}" title="Associated Publications">
	<span class="glyphicon glyphicon-link"></span>
</button>