<button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddNewCuGroupModal{$uniqid}" title="Add new conference user group">
	<span class="glyphicon glyphicon-plus"></span>
</button>
