<button type="button" data-signal-url="{$deleteLink}" class="btn btn-danger btn-xs deleteCuGroupButton deleteCuGroupButton{$uniqid}" data-toggle="modal" data-target="#DeleteCuGroupModal{$uniqid}" title="Delete conference user group">
	<span class="glyphicon glyphicon-remove"></span>
</button>
<button type="button" data-signal-url="{$editLink}" class="btn btn-primary btn-xs editCuGroupButton editCuGroupButton{$uniqid}" data-toggle="modal" data-target="#EditCuGroupModal{$uniqid}" title="Edit conference user group">
	<span class="glyphicon glyphicon-pencil"></span>
</button>
<button type="button" data-signal-url="{$showRelatedUsersLink}" class="btn btn-default btn-xs showUsersRelatedToCuGroupButton showUsersRelatedToCuGroupButton{$uniqid}" data-toggle="modal" data-target="#UsersRelatedToCuGroupModal{$uniqid}" title="Associated users">
	<span class="glyphicon glyphicon-link"></span>
</button>