{ifset $addAllowed}
	<button type="button" data-signal-url="{$addLink}" class="btn btn-success btn-xs addConferenceYearButton addConferenceYearButton{$uniqid}" data-toggle="modal" data-target="#ConferenceYearModal{$uniqid}" title="Add new conference year">
		<span class="glyphicon glyphicon-plus"></span> Add new year
	</button>
{/ifset}
