{ifset $deleteAllowed}
	<button type="button" data-signal-url="{$deleteLink}" class="btn btn-danger {ifset $button}btn-{$button}{else}btn-xs{/ifset} deleteReferenceButton deleteButton{$uniqid}" data-toggle="modal" data-target="#DeleteModal{$uniqid}" title="Delete reference">
		<span class="glyphicon glyphicon-remove"></span>
		{if isset($description) && $description == true} Delete{/if}
	</button>
{/ifset}
